<server>
    <featureManager>
        <feature>cdi-2.0</feature>
        <feature>concurrent-1.0</feature>
        <feature>jaxrs-2.1</feature>
        <feature>jdbc-4.2</feature>
        <feature>jndi-1.0</feature>
        <feature>jsonb-1.0</feature>
        <feature>mpConfig-1.3</feature>
        <feature>mpOpenAPI-1.1</feature>
        <feature>mpMetrics-2.0</feature>
        <feature>restConnector-2.0</feature>
    </featureManager>

	<mpMetrics authentication="false"/>
	
	<variable name="DB_HOST" defaultValue="localhost"/>
	<variable name="DB_PORT" defaultValue="1433"/>
	<variable name="DB_NAME" defaultValue="tempdb"/>
	<variable name="DB_USER" defaultValue="sa"/>
	<variable name="DB_PASS" defaultValue="examplePass0ord"/>
	
	<library id="sqlserverLib">
        <fileset dir="jdbc"/>
    </library>

    <dataSource id="DefaultDataSource">
        <jdbcDriver libraryRef="sqlserverLib"/>
        <properties.microsoft.sqlserver serverName="${DB_HOST}" portNumber="${DB_PORT}"
                databaseName="${DB_NAME}"
                user="${DB_USER}"
                password="${DB_PASS}"/>
    </dataSource>

    <httpEndpoint id="defaultHttpEndpoint" host="*" httpPort="9080" httpsPort="9443" />
                  
    <applicationManager autoExpand="true"/>

</server>